<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-c3ow{text-align:center;vertical-align:top}
.tg .tg-0pky{text-align:left;vertical-align:top}

ul li{
    padding: 5px 2px;
}
ul {
    margin-bottom:0;
	padding-left:10%;	/* To remove default left padding */
}
tr { border: none; }
td {
  border-right: solid 1px black; 
  border-left: solid 1px black;
}
th {
  border-right: solid 1px black; 
  border-left: solid 1px black;
}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-c3ow"><h3>$29/month</h3></th>
    <th class="tg-c3ow"><h3>$79/month</h3></th>
    <th class="tg-c3ow"><h3>$299/month</h3></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky"><b>Basic Shopify Plan</b>
        <ul>
            <li>Best for new starters.</li>
            <li>Online store</li>
            <li>24/7 support</li>
            <li>Unlimited products</li>
            <li>2.9% + 30¢ USD per credit card transaction</li>
        </ul>
    
    </td>
    <td class="tg-0pky"><b>Shopify Plan</b>
        <ul>
            <li>Best for growing businesses with 1 retail store</li>
            <li>All of the features of <b>Basic Shopify</b> plan</li>
        </ul>
            <center>+</center>
        <ul>
            <li>Professional sales reports</li>
            <li>2.6% + 30¢ USD per credit card transaction</li>
            <li> International pricing</li>
        </ul>
    </td>
    <td class="tg-0pky"><b>Advanced Shopify Plan</b>
        <ul>
            <li>Best for growing businesses with 2 or more retail stores</li>
            <li>All of the features of <b>Shopify</b> plan</li>
        </ul>
            <center>+</center>
        <ul>
            <li>Advanced sales report builder</li>
            <li>2.4% + 30¢ USD per credit card transaction</li>
            <li>Up to 15 staff accounts</li>
            <li>Third-party shipping rates</li>
        </ul>
    </td>
  </tr>
</tbody>
</table>