<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-c3ow{text-align:center;vertical-align:top}
.tg .tg-0pky{text-align:left;vertical-align:top}
ul li { padding: 5px 0px; }
ul {
    padding-left: 20; /* To remove default left padding */
}
tr { border: none; }
td {
  border-right: solid 1px black; 
  border-left: solid 1px black;
}
th {
  border-right: solid 1px black; 
  border-left: solid 1px black;
}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-c3ow"><h3>$29/month</h3></th>
    <th class="tg-c3ow"><h3>$79/month</h3></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky"><b>Standard Plan</b>
        <ul>
            <li>$0.20 Listing fee</li>
            <li>5% Transaction fee</li>
            <li>3% + $0.25 payment processing fee</li>
        </ul>
    
    </td>
    <td class="tg-0pky"><b>Plus Plan</b>
        <ul>
            <li>All of the features of <b>Standard</b> plan</li>
            <center>                           +</center>
            <li>Advanced customization</li>
            <li>More communication channels with buyers</li>
            <li>Custom domain</li>
        </ul>
    </td>
  </tr>
</tbody>
</table>