<style type="text/css">
.tgcon  {border-collapse:collapse;border-spacing:0;}
.tgcon td{overflow:hidden;padding:10px 5px;word-break:normal;}
.tgcon th{font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tgcon .tgcon-c3ow{text-align:center;vertical-align:top}
.tgcon .tgcon-0pky{text-align:left;vertical-align:top}
ul li { padding: 5px 0px; }
ul {
    padding-left: 20; /* To remove default left padding */
}
tr { border: none; }
td {
  border-right: solid 1px black; 
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
}
th {
  border-right: solid 1px black; 
  border-left: solid 1px black;
}



</style>
<div class="conclusiondiv">
<table class="tgcon">
<thead>
  <tr>
    <th class="tgcon-0pky"></th>
    <th class="tgcon-0pky"><h3>Shopify</h3></th>
    <th class="tgcon-0pky"><h3>Etsy</h3></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tgcon-0pky">Pricing</td>
    <td class="tgcon-c3ow"></td>
    <td class="tgcon-c3ow">✅</td>
  </tr>
  <tr>
    <td class="tgcon-0pky">Ease of Use</td>
    <td class="tgcon-c3ow"></td>
    <td class="tgcon-c3ow">✅</td>
  </tr>
  <tr>
    <td class="tgcon-0pky">Support</td>
    <td class="tgcon-c3ow">✅</td>
    <td class="tgcon-c3ow">✅</td>
  </tr>
  <tr>
    <td class="tgcon-0pky">Accessing to Customers</td>
    <td class="tgcon-c3ow"></td>
    <td class="tgcon-c3ow">✅</td>
  </tr>
  <tr>
    <td class="tgcon-0pky">Design Flexibility</td>
    <td class="tgcon-c3ow">✅</td>
    <td class="tgcon-c3ow"></td>
  </tr>
</tbody>
</table>
</div>